{% extends "base.html" %}

{% block content %}

<form action="/AddModulo" method="POST" autocomplete="off">


    <input type="text" name="id_modulo" placeholder="Nº SERIAL">

    <input type="text" name="nombre" placeholder="NOMBRE">

    <input type="text" name="proyecto" placeholder="PROYECTO">

    <input type="text" name="fabricante" placeholder="FABRICANTE">

    <input type="text" name="proveedor" placeholder="PROVEEDOR">

    <input type="text" name="cliente" placeholder="CLIENTE">

    <input type="text" name="modelo" placeholder="MODELO">

    <input type="date" name="fecha_creacion" placeholder="FECHA DE CREACION">

    <input type="date" name="fecha_inicio_operacion" placeholder="FECHA DE INICIO DE OPERACION">

    <select name="ubicacion" id="ubicacion">
        <option value="">Seleccione</option>
    {% for stock in datastock %}
        <option value="{{stock.0}}">{{stock.2}}</option>
    {% endfor %}
    </select>


    <button type="submit">
        Enviar
    </button>

</form>

<table style="text-align: center;" border="2px">
<thead>
    <tr>
        <th>Nº SERIAL</th>
        <th>NOMBRE</th>
        <th>PROYECTO</th>
        <th>FABRICANTE</th>
        <th>PROVEEDOR</th>
        <th>CLIENTE</th>
        <th>MODELO</th>
        <th>FECHA CREACION</th>
        <th>FECHA DE OPERACION</th>
        <th>UBICACION</th>
    </tr>
</thead>
    


{% for mod in data %}
    
    <tr>
            <td>{{mod.0}}</td>
            <td>{{mod.1}}</td>
            <td>{{mod.2}}</td>
            <td>{{mod.3}}</td>
            <td>{{mod.4}}</td>
            <td>{{mod.5}}</td>
            <td>{{mod.6}}</td>
            <td>{{mod.7}}</td>
            <td>{{mod.8}}</td>
            <td>{{mod.9}}</td>

            <td><form action="/DeleteModulo/{{mod.0}}" method="POST">
                    <button  type="submit">
                        Eliminar
                    </button>
                </form>
            </td>
            <td>
                <a href="/UpdateModulo/{{mod.0}}">Actualizar</a>
            </td>

    </tr>
    

{% endfor %} 
</table>

{% endblock %}