{% extends "base.html" %}

{% block content %}

<form action="/AddUser" method="POST" autocomplete="off">

    <input type="text" name="id_usuario" placeholder="ID USUARIO"><br><br>

    <input type="text" name="nombre" placeholder="NOMBRE"><br><br>

    <input type="text" name="apellido" placeholder="APELLIDO"><br><br>

    <input type="text" name="correo_electronico" placeholder="CORREO ELECTRONICO"><br><br>

    <input type="text" name="telefono" placeholder="TELEFONO"><br><br>

    <select name="rol_id_rol" id="rol">
        <option value="">Seleccione un rol</option>
            {% for rol in datarol %}
                <option value="{{rol.0}}">{{rol.1}}</option>            
            {% endfor %}
    </select><br><br>

    <select name="permisos_id_permisos" id="permisos">
        <option value="">Seleccione un permiso</option>
            {% for per in dataper %}
                <option value="{{per.0}}">{{per.1}}</option>            
            {% endfor %}
    </select><br><br>

    <button type="submit">
        Enviar
    </button>

</form>

<table style="text-align: center;" border="2px">
<thead>
    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>correo</th>
        <th>telefono</th>
        <th>rol</th>
        <th>permiso</th>
    </tr>
</thead>
    

<h2>USUARIOS</h2>

{% for user in data %}
    
    <tr>
            <td>{{user.0}}</td>
            <td>{{user.1}}</td>
            <td>{{user.2}}</td>
            <td>{{user.3}}</td>
            <td>{{user.4}}</td>
            <td>{{user.5}}</td>
            <td>{{user.6}}</td>
            <td>{{user.7}}</td>
  
            <td><form action="/DeleteUser/{{user.0}}" method="post">
                    <button  type="submit">
                        Eliminar
                    </button>
                </form>
            </td>
            <td>
                <a href="/UpdateUser/{{user.0}}">Actualizar</a>
            </td>
    </tr>

{% endfor %} 
</table>

{% if 'user' in session: %}

    <h1>Si hay una session perro </h1>
    
    <h2>{{session['user']}}</h2>


{% endif %}

{% endblock %}