<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark blue lighten-1 scrolling-navbar">
    <a class="navbar-brand" id="navbar-brand" href="/">SIEMENS</a>
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
       <div class="navbar-nav ml-auto"></div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/AddUser">Usuarios
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AddRol">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AddPermiso">Permisos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AddModulo">Add Modulos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/TranslateModulo">Trans Modulos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AddStock">Almacenes</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
          <a class="nav-link p-0" href="#">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
              alt="avatar image" height="60">
          </a>
        </li>
      </ul>
    </div>
  </nav>

  