@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	background-image: url("https://exhibitorsearch.messefrankfurt.com/images/large/company_pictures/10000211202101/0052381591/1630568916337_GettyImages-1291172515_4.jpg");
	background-size: cover;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#navbar{
	position: fixed; top: 0;
	width: 100%;
	height: 8%;
	float: right;
	font-size: large;
	margin-bottom: 2%;
	background-size: cover;
	background-position: 0 0;
	z-index: 10;
}

.SiemensLogo{
	width: 130px;
}

.container{
	width: 45%;
	margin: auto;
	margin-top: 5%;
}

.containertablas{
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 100px;
	
}

.containerlogin{
	width: 45%;
	margin: auto;
	margin-top: 7%;
	margin-bottom: 20.8%;
}

h1{
	text-align: center;
	color: black;
	font-family: 'Poppins', sans-serif;
	size: 100px;
}
#foter{
	margin-top: 2%;
	margin-bottom: 0;
	width: 100%;
}

#menssaje{
	width: 45%;
	margin: auto;
	margin-top: 5%;
}